# Autoconf files
Makefile
config.h
config.log
config.status
autom4te.cache
**/.cmake.state

# Google APIs
protos/googleapis

# Protobuf intermediate files
**/*.pb.*

# C++ output files
**/*.o
**/*.a

# Build output
build

# BAL API 3.1.0
**/bal-api-3.1.0

# Test binary
test_openolt

# Test report
test_openolt_report.xml

# IntelliJ Files
.idea
