###
# Description: This file utilized by openolt_dev_mgmt_daemon_process_watchdog script
#              read the watchdog config
#
###

# Enable watchdog or not. yes to enable, no or other string to disable.
enable_watchdog=no

# watchdog startup timer - this is the time watchdog waits before starting
# to monitor the openolt and dev_mgmt_daemon process when working in
# out-of-band mode. This gives the buffer time for openolt and dev_mgmt_daemon
# processes to start for the first time after OLT boot.
watchdog_startup_timer=30
