### BEGIN INIT INFO
# Description: This file utilized by olt inband init script and onl validation script to
#              know what VLAN configured by the user for inband CTRL and MGMT interface.
#              It also has configuration which indicates wether out-of-band connection
#              should be enabled on the OLT. This defaults to "no". To enable, it should
#              be set to "yes"
#              the OLT)
#
### END INIT INFO

#asfvolt16
asfvolt16_vlan_id_eth2=4093

#asgvolt64
asgvolt64_vlan_id_eth1=4093

# enable out of band connection to OLT?
enable_out_of_band_connection=no
